pandas
requests
tqdm
scikit-learn
fastapi[all]
sqlalchemy
uvicorn
langchain
langgraph
langchain-google-genai
langchain-openai
langchain-chroma
pydantic
pymysql
html2text
rq
redis
argon2-cffi
PyJWT
cryptography
jira2markdown

# nltk
# sentence-transformers
# torch
python-dotenv