GEMINI_API_KEYS=
OPENAI_API_KEYS=
LLM_PROVIDER=openai # openai or gemini
MINERU_TOKEN=


JIRA_CLIENT_ID=
JIRA_CLIENT_SECRET=
JIRA_OAUTH_URL=https://your-backend-domain/api/v1/integrations/jira/oauth/callback
JIRA_SCOPES="read:jira-work write:jira-work manage:jira-project manage:jira-configuration read:jira-user offline_access delete:issue:jira manage:jira-webhook" 
JIRA_WEBHOOK_EVENTS=jira:issue_created,jira:issue_updated,jira:issue_deleted
JIRA_WEBHOOK_URL=https://your-backend-domain/api/v1/integrations/jira/webhook


LLM_DEFECT_TEMPERATURE=0
LLM_DEFECT_TOP_P=0.1
LLM_DEFAULT_TEMPERATURE=0.5
LLM_CHAT_TEMPERATURE=0.7
LLM_TAXONOMY_TEMPERATURE=0
LLM_TAXONOMY_TOP_P=0.1

GEMINI_DEFECT_MODEL=gemini-2.5-flash
GEMINI_DEFAULT_MODEL=gemini-2.5-flash
GEMINI_CHAT_MODEL=gemini-2.5-flash
GEMINI_TAXONOMY_MODEL=gemini-2.5-flash
GEMINI_API_MAX_RETRY=4
GEMINI_API_RETRY_DELAY_MS=1000

OPENAI_API_MAX_RETRY=4
OPENAI_API_RETRY_DELAY_MS=1000
OPENAI_DEFECT_MODEL=gpt-5-mini
OPENAI_DEFAULT_MODEL=gpt-5-mini
OPENAI_CHAT_MODEL=gpt-5-mini
OPENAI_TAXONOMY_MODEL=gpt-5-mini


MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=karela
NEO4J_PASSWORD=password