pandas
openpyxl
requests
fastapi[all]
sqlalchemy
uvicorn
langchain
langgraph
langchain-google-genai
langchain-openai
langchain-chroma
pydantic
pymysql
rq
redis
argon2-cffi
PyJWT
cryptography
jira2markdown
python-dotenv
minio
langchain_text_splitters
markitdown[docx]
neo4j
pyarrow
langchain-neo4j
natsort
graphrag
unstructured
unstructured[md]
unstructured[docx]
unstructured[txt]
litellm
pymupdf
PyPDF2
python-dotenv
pyyaml