pandas
openpyxl
requests
fastapi[all]
sqlalchemy
uvicorn
langchain
langgraph
langchain-google-genai
langchain-chroma
pydantic
pymysql
rq
redis
argon2-cffi
PyJWT
cryptography
jira2markdown
python-dotenv
minio
unstructured
unstructured[md]
unstructred[docx]
unstructured[txt]
langchain_text_splitters
markitdown[docx]

litellm==1.82.0
pymupdf==1.26.4
PyPDF2==3.0.1
python-dotenv==1.1.0
pyyaml==6.0.2

graphrag