services:
#  app:
#    build: .
#    container_name: demo-app
#    depends_on: [qdrant, postgres, minio, neo4j]
#    environment:
#      SPRING_PROFILES_ACTIVE: docker
#      # DB
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/specmind
#      SPRING_DATASOURCE_USERNAME: root
#      SPRING_DATASOURCE_PASSWORD: rootpw
#      # Qdrant
#      QDRANT_HOST: qdrant
#      QDRANT_GRPC_PORT: "6334"
#      # MinIO
#      MINIO_ENDPOINT: http://minio:9000
#      MINIO_ACCESS_KEY: minio
#      MINIO_SECRET_KEY: minio123
#      # Neo4j
#      NEO4J_URI: bolt://neo4j:7687
#      NEO4J_USERNAME: neo4j
#      NEO4J_PASSWORD: neo4jpw
#    ports:
#      - "8080:8080"

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333" # REST
      - "6334:6334" # gRPC
    volumes:
      - qdrant_storage:/qdrant/storage

#  weaviate:
#    image: cr.weaviate.io/semitechnologies/weaviate:1.32.4
#    container_name: weaviate
#    command: ["--host","0.0.0.0","--port","8000","--scheme","http"]
#    environment:
#      ENABLE_MODULES: "text2vec-google"   # enable Google vectorizer
#      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
#      AUTOSCHEMA_ENABLED: "false"
#    ports: ["8000:8000"]

  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ratsnake
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.

  rabbitmq:
    image: rabbitmq:latest
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP (for your Spring Boot app)
      - "15672:15672"   # Web UI (management dashboard)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

#  postgres:
#    image: postgres:latest
#    container_name: postgres
#    environment:
#      POSTGRES_USER: root
#      POSTGRES_PASSWORD: rootpw
#      POSTGRES_DB: specmind
#    ports:
#      - "5432:5432"
#    volumes:
#      - pg_data:/var/lib/postgresql/data

#  minio:
#    image: minio/minio:latest
#    container_name: minio
#    command: server /data --console-address ":9001"
#    environment:
#      MINIO_ROOT_USER: root
#      MINIO_ROOT_PASSWORD: miniorootpw
#    ports:
#      - "9000:9000"  # S3 API
#      - "9001:9001"  # Console
#    volumes:
#      - minio_data:/data

#  neo4j:
#    image: neo4j:5
#    container_name: neo4j
#    environment:
#      NEO4J_AUTH: neo4j/neo4jrootpw
#      NEO4J_server_memory_heap_initial__size: 512m
#      NEO4J_server_memory_heap_max__size: 1G
#    ports:
#      - "7474:7474"  # HTTP
#      - "7687:7687"  # Bolt
#    volumes:
#      - neo4j_data:/data

volumes:
  qdrant_storage:
  weaviate_data:
  pg_data:
  minio_data:
  neo4j_data:
  rabbitmq_data:
